@model Selenium_MVC.Models.Profile 
@*Model declaration*@
@{
    ViewBag.Title = "Index";
}

<h2>Registration</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(model => model.First_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.First_Name, new { htmlAtrributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.First_Name, "", htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Last_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Last_Name, new { htmlAtrributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Last_Name, "", htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-check">
                @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DOB, new { htmlAtrributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DOB, "", htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        }
        </div>
    </div>
</div>